header{
    width: 100%;
    height: 70px;
    justify-content: space-between;
    display: inline-flex;
    position:absolute; 
    box-shadow: #464246;
    margin-top: -10px;
}
.shadow{
    width: 100%;
    height: 85px;
    position:fixed; 

}

.name{
    height: 50px;
    width: 150px;
}
.logo{
    height: 65px;
    width: 65px;
}
.navbar-nav{
    justify-content: left;
}
ul{
    list-style-type: none;
}

#offcanvasNavbar{
    font-family: 'BIZ UDPMincho', serif;
    font-size: larger;
    margin-top: 5px;
    padding-right: 10px;
}
.cart3{
    width: 35px;
    height: 32px;
    font-size: 36px;
    margin-left: 3%;
}.tienda{
    padding-top: 8%;
    text-align: center;
}
#libros{
    margin-left:8%;    
    font-size: 20px;
    margin-top:4%;
    position: relative;
}
.card-book{
    background-color: #bbaab8;

}